@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    /* width: 100vw; */
    color: #21243D;
}

body {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background-color: #E5E5E5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: auto;
    padding: 10px 5%;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.116);
    position: relative;
    z-index: 1;
    
}

.nav-mobile {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 25px;
    direction: rtl;
    top: 0;
    right: 100%;
    margin-top: 64px;
    transition: 0.4s;
}

.nav-mobile.is-active{
    right: 0;
}

.nav-mobile li {
    display: block;
    margin: 10px 0;
}

.hamburger {
    position: relative;
    width: 30px;
    cursor: pointer;
    display: block;
    display: none;
}

.bar, .hamburger::before, .hamburger::after {
    width: 100%;
    height: 4px;
    background-color: #FF6464;
    margin: 6px 0;
    content: '';
    display: block;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -6px);
}




div h1 {
    color: #21243D;
}

.nav-menu {
    align-content: center;
}

span {
    color: #FF6464;
}

.yes-tablet, .yes-mobile {
    display: none;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    /* align-self: center; */
}

a {
    text-decoration: none;
}

.nav {
    color: #21243D;
    font-family: Heebo;
    font-size: 20px;
    font-weight: 500;
}

a:hover {
    color: #FF6464;
}

section, footer {
    padding: 20px 10%;    
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 450px;
}

h2 {
    font-size: 40px;
    color: #21243D;
}

.right, .left {
    width: 50%;
    
}

.right {
    text-align: center;
}

img {
    width: 60%;
    border-radius: 100%;
}

button, .btn {
    border-radius: 2px;
    outline: none;
    padding: 2% 6%;
    background-color: #FF6464;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    color: #FFFFFF;
    font-size: 16px;
}



button:hover, .btn:hover {
    background-color: transparent;
    border: 2px solid #FF6464;
    color: #FF6464;
}

a button {
    color: white;
    font-size: 20px;
}

.skill ol li {
    /* display: block; */
    margin: 2%;
    background-color: #ff6464cb;
    width: fit-content;
    padding: 1% 3%;
    border-radius: 20px;
    color: white;
}

.about, .blog {
    display: flex;
    justify-content: space-between;
    background-color: #EDF7FA;
    align-items: stretch;
}

.blog-sec {
    background-color: #EDF7FA;
}

.about-1, .blog-1, .skill, .blog-2, .blog-3 {
    width: 45%;
    padding: 5%;
    background-color: #FFFFFF;
    border-radius: 5px;
}


.blog-1, .blog-2, .blog-3 {
    padding: 2%;
}

.about-1, .blog-1 {
    margin-right: 10px;
}

.blog-pg {
    width: 100%;
    margin: 0 0 0 0;
}

.skill, .blog-2 {
    margin-left: 10px;
}

h3 {
    color: #00a8cc;
    font-size: 20px;
}

progress {
    outline: none;
}

.sel {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.sel a {
    color: #00a8cc;
    font-size: 14px;
} 

.sel a:hover {
    color: #FF6464;
}

.works {
    background-color: white;
}
.work-card {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.work-img-main {
    width: 22%;
}

/* .work-img {
    border-radius: 10px;
    width: 100%;
    margin-right: 10px;
    height: 30%;
} */

.work-img-main img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.work-1 {
    /* margin-left: 10px; */
    width: 76%;
}

.work-1 h2 {
    font-size: 20px;
    cursor: pointer;
}

.blog h2 {
    font-size: 20px;
}

.work-1 h2:hover {
    color: #FF6464;
}

.work-details {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 10px 0;
}

.contact-pg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    padding: 5%;
}

.contact-pg div, .contact-pg form {
    width: 50%;
    height: auto;
    margin: 2%;
}

.contact-pg p {
    font-size: 30px;
    font-weight: 700;
}

.contact-pg .pgp {
    font-size: 20px;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 1% 0 0% 0;
}

.box {
    margin-bottom: 3%;
    border: 1px solid #00a8cc;
    outline: none;
    border-radius: 3px;
    padding: 5px 12px;
    height: 30px;
}

.box-2 {
    height: 100px;
    resize: none;
}

.contact-pg form {
    padding: 5%;
    border-radius: 15px;
    background-color: #EDF7FA;
}


.work-pg h2 {
    padding-bottom: 15px;
}

.work-pg-2 h2 {
    text-align: center;
    background-color: #EDF7FA;
    padding: 2%;
}


.year {
    font-weight: 700;
    font-size: 14px;
    padding: 2px 8px;
    background-color: #142850;
    color: white;
    border-radius: 25px;

}

.work-details .year-1 {
    width: 50px;
}

.tag {
    font-size: 14px;
    padding: 2px 8px;
    color: #8695a4;
}

.tag-blog {
    padding: 0px 0px 12px 0px;
}

hr {
    margin: 15px 0;
    border: 1px solid rgba(180, 162, 162, 0.205);
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact h1 {
    font-size: 40px;
    color: #00a8cc;
}

.contact p {
    font-size: 25px;
}

.contact.con-left, .contact a {
    width: 40%;
}

.contact a {
    text-align: center;
}

footer {
    background-color: white;
}

footer p {
    text-align: center;
}

.socials {
    text-align: center;
}

.fa-brands {
    font-size: 24px;
    margin: 0 8px;
}

.fa-brands:hover {
    color: #FF6464;
}

@media screen and (max-width: 900px) {
    .no-tablet {
        display: none;

    }

    .yes-tablet {
        display: contents;
    }

    .right img {
        border-radius: 25%;
        width: 80%;
    }

    .left h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 760px) {
    .yes-tablet, .no-tablet, .no-mobile {
        display: none;
    }

    .work-pg-2 h2 {
        font-size: 30px;
    }

    .yes-mobile {
        display: contents;
    }

    .right img {
        border-radius: 15%;
        width: 90%;
    }

    .contact h1 {
        font-size: 25px;
        color: #00a8cc;
    }
    
    .contact p {
        font-size: 15px;
    }

    .logo {
        font-size: 15px;
    }

}

@media screen and (max-width: 622px) {

    header {
        position: sticky;
        top: 0;
        width: 90%;
    }

    section, footer {
        padding: 20px 3%;    
    }
    
    .yes-tablet, .no-tablet, .no-mobile {
        display: none;
    }

    .yes-mobile {
        display: contents;
    }
    
    .hero, .about, .blog, .contact {
        flex-wrap: wrap;
        /* height: auto; */
    }

    .work-pg h2 {
        font-size: 24px;
    }

    .contact.con-left, .contact a {
        width: 100%;
    }


    .nav-menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .work-1 {
        margin: 0px;
        padding: 0px;
        /* width: 100%; */
    }

    .work-img {
        border-radius: 5px;
        width: 30%;
        margin-bottom: 7px;
    }

    .con-left {
        text-align: center;
    }

    .left, .right, .about-1, .skill, .blog-1, .blog-2, .blog-3 {
        width: 100%;
    }

    .about-1, .skill, .blog-1, .blog-2, .blog-3 {
        width: 100%;
        margin: 10px 0;
    }

    .left {
        text-align: center;
        order: 2;
    }

    .right img {
        border-radius: 100%;
        width: 50%;
    }

    
    footer p {
        font-size: 13px;
    }
    
    .fa-brands {
        font-size: 15px;
        margin: 0 5px;
    }

    .contact-pg {
        flex-wrap: wrap;
    }

    .contact-pg div, .contact-pg form {
        width: 80%;
    }

    .contact-pg div {
        text-align: center;
    }

    .contact-pg p {
        font-size: 25px;
    }
    
    .contact-pg .pgp {
        font-size: 15px;
    }

    label {
        font-size: 18px;
    }
}